body {
   bacKground-color: #cc0033   ; }
h1{ color:   #000066    ; }
p {
 font-size:16px;
 color:     #9966cc    ;
}
header {
   border-bottom: solid 3px #ca9c11 ;
   padding: 10px;
   font-size: 22px;
   color: white;
}
